# dependencies
backend/node_modules
frontend/node_modules

# astro frontend build output
frontend/dist
frontend/.astro

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files (never commit real secrets)
.env
.env.local
